.font-hei {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
.font-song {
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", serif;
}
div#login {
	background-image: url('/img/poly.jpg');
	background-size: cover;
	background-attachment: fixed;
	div#slogan {
		display: none;
	}
	img#logo {
		display: block;
		width: 50%;
		margin: 10% auto 5%;
		box-shadow: 0 0 1rem #FFF;
		border-radius: 1rem;
	}
	p#intro {
		margin: 0;
		text-align: center;
		font-size: 1.2rem;
		color: rgba(255, 255, 255, 0.8);
	}
	p#tip {
		text-align: center;
		font-size: 1.5rem;
		color: rgba(255, 255, 255, 0.8);
		text-shadow: none;
	}
	form#loginForm {
		margin-top: 1rem;
		div#loginButton {
			margin-top: 2rem;
		}
	}
}
div#login.desktop {
	div#slogan {
		display: block;
		position: absolute;
		top: 12%;
		left: 5%;
		width: 45%;
		p {
			color: #FFF;
			font-size: 2.5rem;
			background-color: rgba(15, 87, 124, 0.5);
			margin: 0;
		}
		p#words {
			padding: 1.5rem 1.5rem 0.5rem;
		}
		p#author {
			padding: 0.5rem 1.5rem 1.5rem;
			font-size: 1.25rem;
			text-align: right;
		}
	}
	div[role=main] {
		position: absolute;
		top: 12%;
		width: 30%;
		right: 7.5%;
		background-color: rgba(255, 255, 255, 0.3);
		img#logo {
			display: block;
			margin: 5% auto;
			width: 50%;
			border-radius: 0.5rem;
			box-shadow: 0 0 0.5rem;
			opacity: 0.85;
		}
		p#intro {
			display: none;
		}
		p#tip {
			text-align: center;
			font-size: 1.4rem;
			color: #522424;
			text-shadow: none;
		}
		form#loginForm {
			color: #000;
			text-shadow: #000;
			width: 100%;
			div#loginButton {
				margin-top: 7.5%;
			}
		}
	}
}
div#list {
	div#courseList {
		div.courseUnit {
			margin-bottom: 1rem;
		}
	}
}
div#week {
	svg#weeklyCalender {
		width: 100%;
		height: 100vh;
		rect#back {
			width: 100%;
			height: 100%;
			fill: #EEE;
		}
		line.hour {
			stroke: #FFF;
			stroke-width: 2
		}
		line.day {
			stroke: #FFF;
			stroke-width: 2
		}
		rect.lessonBox {
			fill: #38c;
		}
		text.lessonText {
			fill: #FFF;
		}
		text.clock {
			fill: #000;
		}
	}
}
div#toolsPanel {
	p#logoBar {
		vertical-align: center;
		margin: -0.35rem;
		span {
			font-size: 1.5rem;
		}
	}
	img#smallLogo {
		width: 1.5rem;
		margin: 0 0.5rem -3px 3px;
		border-radius: 0.25rem;
	}
	.current {
		background-color: #2ad;
		border-color: #2ad;
		color: #fff;
		text-shadow: 0 1px 0 #08b;
	}
}
div#about {
	img#logo {
		display: block;
		margin: 1rem auto 2rem;
		width: 50%;
		box-shadow: 0 0 1rem;
		border-radius: 1rem;
	}
	p#author {
		text-align: right;
	}
}