doctype html
html(manifest="cache.manifest")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="iPortal is a mobile-optimized version of MyPortal")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title iPortal - Promise to be your friend
		link(rel="stylesheet" href="bower_components/jquery-mobile/jquery.mobile-1.4.4.min.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-mobile/jquery.mobile-1.4.4.min.js")
		script(src="js/script.js")
		link(rel="shortcut icon" href="favicon.ico")

	body.font-hei
		div(data-role="page" id="login" class="ui-page ui-page-footer-fixed")
			div#slogan
				p.font-song#words
					span iPortal is a gift for you to get control of the courses.
				p.font-song#author
					span
						big ——Yuzo
					br
					span
						small chief designer &amp; developer of iPortal
			div.ui-content(role="main")
				img(src="img/logo.png" id="logo")
				p#intro.font-song iPortal is a gift for you to get control of the courses.
				p#tip
					span.font-song Login with your SUTD account
				form#loginForm
					input(name="id" placeholder="  Student ID" type="text")
					input(name="password" placeholder="  Password" type="password" autocomplete="off")
					div#loginButton(class="ui-shadow ui-btn ui-corner-all ui-btn-b") Login

		div(data-role="page" id="list")
			include ./panel.jade

			div(data-role="header")
				a(href="#toolsPanel" class="ui-btn ui-shadow ui-btn-icon-left ui-icon-bullets") Menu
				h1#todayDate Today's class List
			
			div.ui-content(role="main" id="courseList")

			div(data-role="footer" data-position="fixed")
				div(data-role="navbar")
					ul
						li
							button(class="ui-btn ui-shadow ui-btn-icon-left ui-icon-arrow-l" id="yesterday") Yesterday
						li
							button(class="ui-btn ui-shadow ui-btn-icon-right ui-icon-arrow-r" id="tomorrow") Tomorrow

		div(data-role="page" id="week")
			include ./panel.jade

			div(data-role="header")
				a(href="#toolsPanel" class="ui-btn ui-shadow ui-btn-icon-left ui-icon-bullets") Menu
				h1 The week's class view

			div.ui-content(role="main")
				svg#weeklyCalender


			div(data-role="footer" data-position="fixed")
				div(data-role="navbar")
					ul
						li
							button(class="ui-btn ui-shadow ui-btn-icon-left ui-icon-arrow-l" id="yesterday") Last Week
						li
							button(class="ui-btn ui-shadow ui-btn-icon-right ui-icon-arrow-r" id="tomorrow") Next Week

		div(data-role="page" id="plan")
			include ./panel.jade

			div(data-role="header")
				a(href="#toolsPanel" class="ui-btn ui-shadow ui-btn-icon-left ui-icon-bullets") Menu
				h1 What's coming soon?

			div.ui-content(role="main")
				h3 Weekly view
				p This should be complete within this week, because I will check the course for next week on weekend.
				hr
				h3 Follows will come later
				h4 Course chatroom
				p a chatroom that everyone has enroll the course has automatically added and is convenient to discus.
				h4 Course Quora
				p a palace like quora that you can put your comments on a course and others vote for it.

		div(data-role="page" id="about")
			include panel.jade

			div(data-role="header")
				a(href="#toolsPanel" class="ui-btn ui-shadow ui-btn-icon-left ui-icon-bullets") Menu
				h1 About

			div.ui-content(role="main")
				img(src="img/logo.png" id="logo")
				h4 iPortal is a gift for you to get control of the courses in SUTD.
				h4 Highlights:
				ul
					li Offline storage. Feel free to use iPortal even when you are offline.
					li Class list by day. Today's class list is clear at a glance, with navigation to other days.
				h4 Your convenience and happiness is the best award for me.
				p#author
					span
						big ——Yuzo
					br
					span
						small chief designer &amp; developer of iPortal