div(data-role="panel" id="toolsPanel")
	ul(data-role="listview")
		li iPortal
		li(data-icon="bars")
			a(href="#list") Class List
		li(data-icon="clock")
			a(href="#plan") What's coming
		li(data-icon="refresh")
			a Refresh
		li(data-icon="back")
			a Logout
		li(data-icon="info")
			a(href="#about") About