div(data-role="panel" id="toolsPanel")
	ul(data-role="listview")
		li 
			p(id="logoBar")
				img(src="img/logo.png" id="smallLogo")
				span iPortal
		li(data-icon="bars")
			a(href="#list") Class List
		li(data-icon="clock")
			a(href="#plan") What's coming
		li(data-icon="info")
			a(href="#about") About
		li(data-icon="refresh" id="refreshButton")
			a Refresh
		li(data-icon="back" id="logoutButton")
			a Logout